.intro{
  font-weight: 400;
  color:#f4eae9

}

.intro{
background-repeat: no-repeat;
background-image: url("../images/palms.jpeg");
background-size: cover;
}



  .nav-link:hover{
      color:#fffff;


  }

  .nav-item:hover{
      text-decoration: underline;
      text-decoration:#efefef;
  }


  .container {
    width: auto;
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  text-align: left;
  position:;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


  .text{

    color:#f4eae9;
    font-family:serif;
    font-size: 200px;
    font-weight: 400;
    display: block;
    text-align: left;
    white-space: pre-line;
    padding: 50px;}


.navbar-nav{
    margin-right: 5%;
}

.home-container{
    margin-top: 5%;

}

.actions, .card-deck, .actionTitle{
    background-color: #5c7c91;
    font-family: Georgia, serif;
}

.actionTitle, h2{
    text-align: center;
    padding: 10px;
}


.services{
    padding-bottom: 10%;
}

.testimony{
    background-color: white;
    text-transform: uppercase;
    margin: 7%;
    font-family: Georgia, serif;
}

blockquote{
    font-size: x-large;
    text-transform: none;
    font-weight: 300;
    padding-bottom: 25%;
}

h6{
    font-weight: 900;
}

.jobTitle{
    font-style: italic;
    font-size: 12px;
}

.person{
    margin-bottom: 1px;
}

.contact{
    background: url("../images/footerclouds.jpeg") no-repeat center;
    background-size: cover;
    color:pink;
    padding: 5%;
    font-family: Georgia, serif;
}

h6{
    text-transform: uppercase;
    padding-bottom: 5%;
}

#contactLine{
    font-size: xx-large;
}

#connect:hover{
    text-decoration: underline;
    color:
}

.footer{
    padding-top: 3%;
}

#logo{
    padding-left: 16%;
}

.address{
    padding-top: 2%;
    text-transform: uppercase;
}

.location{
    padding: 10px;
    font-weight: 20;
    margin-bottom: 5px;

}

#email:link, #email:visited{
    color: white;
}

#email:hover{
    text-decoration: none;
}


.mailing{
    padding-bottom: 50px;
}

#copyright{
    color: steelblue;
    padding-left: 20px;
}

.legal:link, .legal:visited{
    color: steelblue;
}

.legal:hover{
    color: orangered;
    text-decoration: none;
}

.carousel, .carousel-item{
    height: 100px;
}
